<div class="p-3 mb-2 bg-primary bg-gradient text-white">
    <div class="row">
        <div class="col-sm-5 col-md-6 fw-bold">New Order</div>
    </div>
</div>

<div class="container mt-4">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <form [formGroup]="orderForm" (ngSubmit)="onSubmit()" class="row g-4">
        <!-- Order Number -->
        <div class="col-md-12">
          <mat-form-field appearance="outline" class="w-100 mb-3">
            <mat-label class="fw-bold">Order Number</mat-label>
            <input matInput formControlName="orderNumber" readonly class="border-secondary bg-light">
          </mat-form-field>
        </div>

        <!-- Service Selection -->
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-label fw-bold mb-2">Service</label>
            <mat-form-field appearance="outline" class="w-100">
              <input type="text" matInput formControlName="service_id" [matAutocomplete]="autoService" class="border rounded-2">
              <mat-autocomplete #autoService="matAutocomplete" (optionSelected)="onServiceSelect($event)" [displayWith]="displayService.bind(this)">
                <mat-option *ngFor="let service of filteredServices | async" [value]="service.id">
                  <div class="d-flex justify-content-between align-items-center">
                    <span>{{ service.name }}</span>
                    <span class="text-muted">{{ service.category?.estimatedPrice | currency }}</span>
                  </div>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>

        <!-- Order Price -->
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-label fw-bold mb-2">Order Price</label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput type="number" formControlName="orderPrice" class="border rounded-2">
            </mat-form-field>
          </div>
        </div>
        <!-- Order Location -->
        <div class="col-md-12">
          <div class="form-group">
            <label class="form-label fw-bold mb-2">Order location</label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput type="text" formControlName="orderLocation" class="border rounded-2">
            </mat-form-field>
          </div>
        </div>
        <!-- Order Description -->
        <div class="col-12">
          <div class="form-group">
            <label class="form-label fw-bold mb-2">Order Description</label>
            <mat-form-field appearance="outline" class="w-100">
              <textarea matInput formControlName="orderDescription" rows="3" class="border rounded-2"></textarea>
            </mat-form-field>
            
          </div>
        </div>

        <!-- Date/Time Inputs -->               
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-label fw-bold mb-2">Order Date & Time</label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput [matDatepicker]="orderDatePicker" formControlName="orderDate" placeholder="Choose date" class="border rounded-2">
              <mat-datepicker-toggle matSuffix [for]="orderDatePicker">
                <i class="bi bi-calendar"></i> 
              </mat-datepicker-toggle>
              <mat-datepicker #orderDatePicker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label class="form-label fw-bold mb-2">Delivered Date & Time</label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput [matDatepicker]="deliveredDatePicker" formControlName="orderDeliveredAt" placeholder="Choose date" class="border rounded-2">
              <mat-datepicker-toggle matSuffix [for]="deliveredDatePicker">
                <i class="bi bi-calendar"></i> 
              </mat-datepicker-toggle>
              <mat-datepicker #deliveredDatePicker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <!-- Client Selection -->
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-label fw-bold mb-2">Client</label>
            <mat-form-field appearance="outline" class="w-100">
              <input type="text" matInput formControlName="client_id" placeholder="Search clients..." [matAutocomplete]="autoClient" class="border rounded-2">
              <mat-autocomplete #autoClient="matAutocomplete" [displayWith]="displayClient.bind(this)">
                <mat-option *ngFor="let client of filteredClients | async" [value]="client.id">
                  {{ client.user.name }} : {{ client.user.phone }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>

        <!-- Handy Man Selection -->
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-label fw-bold mb-2">Handy Man</label>
            <mat-form-field appearance="outline" class="w-100">
              <input type="text" matInput formControlName="handy_men_id" placeholder="Search handy Man.." [matAutocomplete]="autoHandyMan" class="border rounded-2">
              <mat-autocomplete #autoHandyMan="matAutocomplete" [displayWith]="displayHandyMan.bind(this)">
                <mat-option *ngFor="let handyMan of filteredHandyMans | async" [value]="handyMan.id">
                  {{ handyMan.user.name }} : {{ handyMan.user.phone }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>
        <!-- Order status Selection -->
        <div class="col-md-12">
          <div class="form-group">
            <label class="form-label fw-bold mb-2">Order Status</label>
            <mat-form-field appearance="outline" class="w-100">
              <!-- <input type="text" matInput [matAutocomplete]="autoOrderStatus" formControlName="orderStatus"  class="border rounded-2"> -->
              <mat-select  [(value)]="selected" formControlName="orderStatus" >
                <mat-option value="1">Pending</mat-option>
                <mat-option value="2">Processing</mat-option>
                <mat-option value="3">Delivred</mat-option>
                <mat-option value="4">Canceled</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-12">
          <button mat-raised-button color="primary" type="submit" class="btn btn-primary">Create Order</button>
        </div>
      </form>
    </div>
  </div>
</div>