<div class="p-3 mb-2 bg-primary bg-gradient text-white">
  <div class="row">
    <div class="col-sm-5 col-md-6 fw-bold">Add Permission To Role</div>
  </div>
</div>

<div class="container mt-4" *ngIf="role">
  <div class="row justify-content-center mt-5">
    <div class="col-md-12 ">
      <div class="card">
        <div class="card-header">
          <h4>Role Name: {{ role.name }}</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
            <div class="mb-3">
              <label>Permissions</label>
              <div class="row" formArrayName="permissions">
                <div class="col-md-3" *ngFor="let permission of allPermissions; let i = index">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" [formControlName]="i">
                    <label class="form-check-label">{{ permission.name }}</label>
                  </div>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-success">Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>