/* Sidebar */
#sidebar {
    width: 315px;
    transition: all 0.3s;
    min-height: 100vh;
    position: fixed; /* Make the sidebar fixed */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    z-index: 1000; /* Ensure it's above other content */
    overflow-y: auto; /* Add scroll if content overflows */
}

/* Adjust main content to account for the fixed sidebar */
main {
    margin-left: 315px; /* Match the width of the sidebar */
    transition: margin-left 0.3s; /* Smooth transition */
}


/* Toggle button styling */
.navbar-toggler {
    display: none; /* Hidden by default */
    background: none;
    border: none;
}

@media (max-width: 1600px) {
.navbar-toggler {
        display: block;
    }

    #sidebar {
        left: -315px; /* Start off-screen */
    }

    #sidebar.active {
        left: 0; /* Bring sidebar on-screen */
    }

    /* Adjust main content when sidebar is active */
    main{
        margin-left: 0; /* Remove margin when sidebar is hidden */
    }

    /* Adjust main content when sidebar is active */
    .container-fluid > .row > main.active {
        margin-left: 250px;
    }
}
.sidebar-header {
    padding: 0 30px 20px;
    border-bottom: none;
}

.logo {
    width: auto; /* Adjust width as needed */
    height: 60px; /* Match top bar height */
    vertical-align: middle; /* Align vertically */
    margin-bottom: 20px;
}

.nav-link {
    width: 300px;
    height: 64px;
    padding: 10px 45px;
    font-size: 16px;
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 16px;
}

.nav-link:hover {
    background-color: #3E33FE;
    color: #fff;
}

.nav-link i {
    margin-right: 10px;
}

.submenu {
    display: none;
    background-color: #FF7909;
}

.submenu.show {
    display: block;
}

.submenu .nav-link {
    color: #fff;
}

.submenu .nav-link:hover {
    background-color: #FF6700;
}

/* Top Bar */
.top-bar {
    display: flex;
    justify-content: flex-end; /* Aligns items to the right */
    width: 100%; /* Ensures it takes full width of its container */
}

.user-info {
    display: flex;
    align-items: center;
    margin-left: auto; /* Ensures it moves to the far right */
}

.user-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.btn-light {
    border: none;
    background-color: #f8f9fa;
}

.btn-light:hover {
    background-color: #e9ecef;
}

.user-info {
    display: flex;
    align-items: center;
}
/* 
.dropdown-menu {
    position: absolute;
    right: 0;
    top: 100%;
} */
