/* Sidebar */
#sidebar {
    background-color: #ffffff;
    width: 250px;
    height: 100vh; /* Adjust this if necessary to full height */
    padding: 0; /* Removed padding */
    transition: margin-left 0.5s; /* Smooth transition for sidebar */
    margin-left: -250px; 
}

#sidebar.active {
    margin-left: 0; /* Slide in */
}

@media (min-width: 1508px) {
    #sidebar {
        margin-left: 0; /* Always visible on larger screens */
    }
}
.sidebar-header {
    padding: 0 30px 20px 0; /* Align padding with top bar */
    border-bottom: none; /* Remove border */
}

.logo {
    width: auto; /* Adjust width as needed */
    height: 60px; /* Match top bar height */
    vertical-align: middle; /* Align vertically */
    margin-bottom: 20px;
}

.nav-link {
    width: 250px;
    height: 64px;
    padding: 10px 15px;
    font-size: 16px;
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 16px;
}

.nav-link:hover {
    background-color: #3E33FE;
    color: #fff;
}

.nav-link i {
    margin-right: 10px;
}

.submenu {
    display: none;
    background-color: #FF7909;
}

.submenu.show {
    display: block;
}

.submenu .nav-link {
    color: #fff;
}

.submenu .nav-link:hover {
    background-color: #FF6700;
}

/* Top Bar */
.top-bar {
    display: flex;
    justify-content: flex-end; /* Aligns items to the right */
    width: 100%; /* Ensures it takes full width of its container */
}

.user-info {
    display: flex;
    align-items: center;
    margin-left: auto; /* Ensures it moves to the far right */
}

.user-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.btn-light {
    border: none;
    background-color: #f8f9fa;
}

.btn-light:hover {
    background-color: #e9ecef;
}

.user-info {
    display: flex;
    align-items: center;
}

.dropdown-menu {
    position: absolute;
    right: 0;
    top: 100%;
}
