<div class="p-3 mb-2 bg-primary bg-gradient text-white">
    <div class="row">
        <div class="col-sm-5 col-md-6 fw-bold">Admin List</div>
        <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0 text-end">
            <a class="nav-link btn text-end fw-bold" routerLink="/add-admin"><i class="fa fa-plus"></i> New admin</a>
        </div>
    </div>
</div>

<div class="container mt-4">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dttrigger" class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Role</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let admin of adminPanel; let i = index">
                <td>{{ admin.id }}</td>
                <td>{{ admin.user.name }}</td>
                <td>{{ admin.user.phone }}</td>
                <td>{{ admin.user.roles[0]?.name || 'No Role' }}</td>
                <td *ngIf="admin.status == '1';else inactive"><span class="badge text-bg-success">Active</span></td>
                <ng-template #inactive>
                    <td><span class="badge text-bg-danger">Inactive</span></td>
                </ng-template>
                <td>
                    <button type="button" class="btn btn-danger" (click)="delete(admin.id, i)" ><i class="fa fa-trash"></i></button>
                    <button type="button" class="btn btn-success mx-2" [routerLink]="['/edit-admin', admin.id]"><i class="fa fa-edit"></i></button>
                </td>
        </tbody>
    </table>    
</div>