<div class="p-3 mb-2 bg-primary bg-gradient text-white">
    <div class="row">
        <div class="col-sm-5 col-md-6 fw-bold">List Categery</div>
        <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0 text-end">
            <a class="nav-link btn text-end fw-bold" routerLink="/add-category"><i class="fa fa-plus"></i> New Category</a>
        </div>
    </div>
</div>

<div class="container mt-4">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dttrigger" class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Etimated Price</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let Category of Category; let i = index">
                <td>{{ Category.id }}</td>
                <td>{{ Category.name }}</td>
                <td>{{ Category.estimatedPrice }}</td>
                <td *ngIf="Category.status == '1';else inactive"><span class="badge text-bg-success">Active</span></td>
                <ng-template #inactive>
                    <td><span class="badge text-bg-danger">Inactive</span></td>
                </ng-template>
                <td>
                    <button type="button" class="btn btn-danger" (click)="delete(Category.id, i)" ><i class="fa fa-trash"></i></button>
                    <button type="button" class="btn btn-success mx-2" [routerLink]="['/edit-category', Category.id]"><i class="fa fa-edit"></i></button>
                </td>
        </tbody>
    </table>    
</div>